{%extends 'navbar.html'%}
{%import 'bootstrap/wtf.html' as wtf%}
{%block body%}
<br/>
<hr/>
<p>作者：{{post.author.username}}</p><br/>
<p>{{post.article_html|safe}}</p>

<br/><hr/>
<h5 id=comment>
{%for comment in comments%}
	<p><a href="url_for('main.show_profile', username={{comment.author.username}})">{{comment.author.username}}</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.time}}</p>
	{{comment.he_said}}
	{%if comment.author.id == current_user.id%}
		<a href="{{url_for('main.delete_comment', id=comment.id)}}">删除</a>
	{%endif%}
{%endfor%}	<br/><br/>
</h5>
{%for i in get_flashed_messages()%}
{{i}}
{%endfor%}

{%if is_1_page%}
	{{pass}}
{%else%}
	{%include '_comment_page.html'%}
{%endif%}
</br>

{%if permission%}
	{{wtf.quick_form(form)}}
{%else%}
	你暂时不能评论，或者未<a href="{{url_for('reg.load_in')}}">登陆</a>
{%endif%}
</br
{%endblock%}