
<!DOCTYPE html>
{%extends 'navbar.html'%}
{%import 'bootstrap/wtf.html' as wtf%}
<html>
<head>
	<title>Home_page</title>
</head>
{%block body%}
{%for i in get_flashed_messages()%}
{{i}}
{%endfor%}
<body><br/><strong>这是主页</strong><br/>
<h4>
	{%if not current_user.is_authenticated %}
		您还没有登陆，需要登陆后才能发表留言，您可以
		<a href="{{url_for('reg.load_in')}}">登陆</a>或者是
		<a href="{{url_for('reg.regis')}}">申请账号</a>
	{%else%}
		<h4>{{wtf.quick_form(form)}}</h4>
	{%endif%}
</h4><br/>
{%for i in posts%}
<p><a href="{{url_for('main.show_profile',username=i.author.username)}}"> {{i.author.username}}</a>&nbsp;&nbsp;&nbsp;&nbsp;Posted at TIME<!--invalid for contemporary
 moment(i.post_time).fromNow--></p>
<br/>
<p>{{i.article}}</p>
{%endfor%}
{%include '_page.html'%}
</body>
{%endblock%}
</html>