<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html>
<head>
	<title></title>
</head>
<body><ul class=nav navbar-nav navbar-right>
	<a href=" {{url_for('main.home_page')}}">HOME</a>&nbsp;&nbsp;
	{%if not current_user.is_authenticated %}
		<a href="{{url_for('reg.load_in')}}">Log In</a>
		&nbsp;&nbsp;&nbsp;<a href="{{url_for('reg.forget_code')}}">忘记密码</a>
		&nbsp;&nbsp;&nbsp;
		<a href="{{url_for('main.show_profile', username=current_user.username)}}"My&nbsp;profile</a>
	{% else %}
		<a href="{{url_for('reg.load_out')}}">Log Out</a>
		&nbsp;&nbsp;&nbsp;<a href="{{url_for('main.show_profile',username=current_user.username)}}">My&nbsp;Profile</a>

	{%endif%}
	&nbsp;&nbsp;&nbsp;<a href="{{url_for('reg.normal_right')}}">normal&nbsp;right&nbsp;test</a>&nbsp;&nbsp;
	<a href="{{url_for('reg.admin_right')}}">admin&nbsp;test</a>
	&nbsp;&nbsp;
	<a href="{{url_for('main.manager_chart')}} ">WatchDog</a>
	<br/>
	<h2>welcome
	{%if current_user.is_authenticated%}
	{{current_user.username}}
	{%else%}
	Stranger
	{%endif%}
	
	 </h2>
	
</ul>
{%block body%}
{%endblock%}
{%block scripts%}
{{super()}}
{%endblock%}

</body>
</html>