<!DOCTYPE html>
{%extends 'navbar.html'%}

<html>
{%block body%}
<head>
	<title>show profile</title>
</head>
<body>
	{%if target_user.realname or target_user.gender%}
		<p>{%if target_user.realname%}
				Name:&nbsp;{{target_user.realname}}&nbsp;&nbsp;&nbsp;&nbsp;
			{%endif%}
			{%if target_user.gender%}
				Gender:&nbsp;{{target_user.gender}}
			{%endif%}</p><br/>
	{%endif%}
	{%if target_user.age or target_user.location%}
		<p>{%if target_user.age%}
				Age:&nbsp;{{target_user.age}}&nbsp;&nbsp;&nbsp;&nbsp;
			{%endif%}
			{%if target_user.location%}
				Location:&nbsp;{{target_user.location}}
			{%endif%}</p><br/>
	{%endif%}
	{%if target_user.reg_time or target_user.last_time%}
		<p>{%if target_user.reg_time%}
				Reg &nbsp;Time:&nbsp;{{target_user.reg_time}}&nbsp;&nbsp;&nbsp;&nbsp;
			{%endif%}
			{%if target_user.last_time%}
				Last&nbsp;time:&nbsp;{{target_user.last_time}}
			{%endif%}</p><br/>
	{%endif%}
	{%if target_user.introduction%}
		<p>self&nbsp;introduction: {{target_user.introduction}}</p><br/>
	{%endif%}
	<a href="{{url_for('main.edit_profile')}}">Edit&nbsp;Profile</a><br/>
	<p>articles list:</p><br/>
	{%for i in article_object%}
	{{i.article}}<br/>
	{%endfor%}
			
</body>
{%endblock%}
</html>